.nav-placeholder{
margin:0 ;
}
.scrollup{
margin-top:64;
}
.fixed{
position:fixed;
top:0;
z-index:3;
width:100%;
}
.fixed-below{
position:fixed;
top:64;
z-index:3;
width:100%;
}
.fixed-left{
position:fixed;
top:64;
height:100%
}
.fixed-left-below{
position:fixed;
top:128;
height:100%
}